.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(70, 67, 67) ;
  color: rgb(241, 239, 235)
}

.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.nav-links > li {
  color: white;
  list-style: none;
}